<body>

    <div class="container">

        <nav class="nav nav-tabs" id="myTab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
                aria-expanded="true">Log In</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile">Sign Up</a>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <form class="form-signin" action="/account/login" method="post">
                    <h2 class="form-signin-heading">Please Log In</h2>
                    <label for="loginEmail" class="sr-only">Email address</label>
                    <input id="loginEmail" class="form-control" placeholder="Email address" required="" autofocus="" type="email">
                    <label for="loginPassword" class="sr-only">Password</label>
                    <input type="text" id="loginPassword" class="form-control" placeholder="Password" required="" type="password">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
                </form>

            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <form class="form-signin" action="/account/signup" method="post">
                    <h2 class="form-signin-heading">Please Sign Up</h2>
                    <label for="registerFirstName" class="sr-only">First Name</label>
                    <input type="text" id="firstName" class="form-control" placeholder="First Name" required="">
                    
                    <label for="registerLastName" class="sr-only">Last Name</label>
                    <input type="text" id="lastName" class="form-control" placeholder="Last Name" required="">

                    <label for="registerUsername" class="sr-only">Username</label>
                    <input type="text" id="username" class="form-control" placeholder="Username" required="">

                    <label for="registerFirstName" class="sr-only">First Name</label>
                    <input type="text" id="registerEmail" class="form-control" placeholder="Email address" required="" autofocus="" type="email">
                    <label for="registerPassword" class="sr-only">Password</label>
                    <input type="text" id="registerPassword" class="form-control" placeholder="Password" required="" type="password">
                    <input type="text" id="registerPassword" class="form-control" placeholder="Repeat Password" required="" type="password">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</body>
