<body class="splash">
    
    <div class="container">
        <div class="row">
            <div class="col-7">
                <img src="/assets/images/logo.png" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-5">
                        <nav class="nav nav-tabs" id="myTab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
                aria-expanded="true">Log In</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile">Sign Up</a>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <form class="form-signin" action="/account/login" method="post">
                    <h2 class="form-signin-heading">Please Log In</h2>
                    <label for="loginEmail" class="sr-only">Email address</label>
                    <input name="username" id="loginEmail" class="form-control" placeholder="Email address" required="" autofocus="" type="email">
                    <label for="loginPassword" class="sr-only">Password</label>
                    <input name="password" id="loginPassword" class="form-control" placeholder="Password" required="" type="password">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
                </form>

            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <form class="form-signin" action="/account/signup" method="post">
                    <h2 class="form-signin-heading">Please Sign Up</h2>
                    
                    <label for="firstName" class="sr-only">First Name:</label>
                    <input type="text" name="firstName" id="firstName" class="form-control" placeholder="First Name" required="" autofocus="">
                    
                    <label for="lastName" class="sr-only">Last Name: </label>
                    <input type="text" name="lastName" id="lastName" class="form-control" placeholder="Last Name" required="" autofocus="">
                    
                    <label for="username" class="sr-only">Username:</label>
                    <input type="text" name="username" id="username" class="form-control" placeholder="Username" required="" autofocus="">
                    
                    <label for="email" class="sr-only">Email Address:</label>
                    <input name="email" id="email" class="form-control" placeholder="Email address" required="" autofocus="" type="email">
                    
                    <label for="password" class="sr-only">Password:</label>
                    <input name="password" id="password" class="form-control" placeholder="Password" required="" type="password">
                    
                    <label for="password2" class="sr-only">Confirm Password:</label>
                    <input name="password2" id="password2" class="form-control" placeholder="Repeat Password" required="" type="password">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
                </form>
            </div>
        </div>
            </div>
        </div>
    </div>
</body>
</html>