<body>
    <!-- Navbar -->
    <nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" id="home-button" href="/dashboard">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/students">Students
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{classes.0.teacher.teacher_userName}}</a>
                    </li>
                    <li id="logoff">
                        <a class="nav-link" href="/account/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <br>

    <div class="container">
        <div class="jumbotron">
            <h1>Add Student To Class</h1>
            <form action="/newStudent" method="POST">
                <div class="form-row">
                    <div class="form-group col-4">
                        <select class="selectpicker" class="form-control" name="classPicker" id="classPicker" required>
                            <option value=''>Select Class:</option>
                            {{#each classes}}
                            <option value={{this.class_id}}>Period: {{this.class_period}} Class Name:{{this.class_name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group col-2">
                        <select class="selectpicker" class="form-control" name="selectGrade" id="selectGrade" required>
                            <option value=''>Select Grade</option>
                            <option value="K">K</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9 Freshman</option>
                            <option value="10">10 Sophmore</option>
                            <option value="11">11 Junior</option>
                            <option value="12">12 Senior</option>
                        </select>
                    </div>
                    <div class="form-group col-3">
                        <select class="selectpicker" class="form-control" name="selectGener" id="selectGender" required>
                            <option value=''>Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-6">
                        <label for="inputStudentFirstName" class="col-form-label">First Name: </label>
                        <input type="text" class="form-control" name="inputStudentFirstName" id="inputStudentFirstName" placeholder="First Name"
                            required>
                    </div>
                    <div class="form-group col-6">
                        <label for="inputStudentLastName" class="col-form-label">Last Name: </label>
                        <input type="text" class="form-control" name="inputStudentLastName" id="inputStudentLastName" placeholder="Last Name" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-6">
                        <label for="inputStudentEmail" class="col-form-label">Email: </label>
                        <input type="email" class="form-control" name="inputStudentEmail" id="inputStudentEmail" placeholder="studentemail@email.com"
                            required>
                    </div>
                    <div class="form-group col-6">
                        <label for="inputStudentPhone" class="col-form-label">Phone: </label>
                        <input type="text" class="form-control" name="inputStudentPhone" id="inputStudentPhone" placeholder="555-555-5555">
                    </div>
                </div>
                {{!--
                <div class="form-group">
                    <label for="inputStudentImage" class="col-form-label">Student Image: </label>
                    <input type="text" class="form-control" id="inputStudentImage" placeholder="Copy and Paste Image URL">
                </div> --}}
                <div class="form-row">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</body>

</html>