* {
	box-sizing: border-box;
}

a, #loginLink, #registerLink {
	cursor: pointer;
}

a, th {
	color: #000;
	font-size: 16px;
}

body {
	font-family: sans-serif;
	padding-top: 54px;
}

button {
	cursor: pointer;
	font-size: 20px;
}

th, tr {
	text-align: center;
}

.btn {
	font-size: 14px;
}

.btn-secondary {
	margin: 1px;
}

.centerBlock {
	display: table;
	margin: auto;
}

.form-signin {
	background-color: #FFF;
	font-family: Georgia, "Times New Roman", serif;
	font-weight: normal;
	letter-spacing: 0.1em;
	margin: auto;
	max-width: 400px;
	padding: 10px 30px 30px;
}

.form-signin-heading {
	color: #333;
}

.icon {
	max-height: 90%;
	max-width: 90%;
}

.item {
	background: #C09;
	border: 4px solid #333;
	border-color: hsla(0, 0%, 0%, 0.3);
	float: left;
	height: 40px;
	width: 40px;
}

.item:hover {
	border-color: #FFF;
	cursor: move;
}

.item.h2 {
	background: #0C9;
	height: 80px;
}

.item.h4 {
	background: #C90;
	height: 160px;
}

.item.w2 {
	background: #9C0;
	width: 80px;
}

.item.w4 {
	background: #90C;
	width: 160px;
}

.item.is-dragging, .item.is-positioning-post-drag {
	background: #09F;
	border-color: #FFF;
	z-index: 2;
}

.jumbotron {
	margin-top: 15px;
	padding: 32px;
}

.nav, #myTab, #nav-home, #nav-tabContent {
	max-width: 500px;
}

.registerInput, #loginEmail, #loginPassword {
	margin-bottom: 10px;
	margin-top: 10px;
}

.required-text-label {
	font-size: 12px;
	font-style: italic;
}

.splash {
	background-color: #F1F1F1;
}

.test {
	background-color: rgba(86, 61, 124, 0.15);
	outline: 1px solid #000;
	padding-bottom: 0.75rem;
	padding-top: 0.75rem;
}

#editClassBtn, #resetBtn {
	background: none;
	font-size: 12px;
}

#editColumn {
	width: 100px;
}

#iconImageBtn {
	background: none;
	border: none;
	height: 70px;
	width: 70px;
}

#loginErrorMessage, #registerErrorMessage {
	color: #F00;
	font-size: 16px;
	margin: 10px 0 20px;
	text-align: center;
}

#loginLink, #registerLink {
	padding: 10px;
}

#loginNavbar {
	background-color: #333A40;
	height: 80px;
	margin-bottom: 80px;
}

#loginSubmitBtn, #registerSubmitBtn {
	background-color: #38BAD8;
	border-radius: 0;
	color: #FFF;
	font-size: 18px;
	font-weight: bold;
	width: 100px;
}

#navLogo {
	color: #FFF;
	font-family: "Georgia", Times, serif;
	font-size: 36px;
	letter-spacing: 0.1em;
	margin: 4px 0 0 20px;
}

#navLogoX {
	height: 36px;
	margin-bottom: 10px;
	width: auto;
}

#nav-home, #nav-home-tab {
	background-color: #FFF;
}

#nav-profile, #nav-profile-tab {
	background-color: #F0F0F0;
}