#loginNavbar {
  background-color: #333a40;
  height: 80px;
  margin-bottom: 80px;
}

#navLogo {
  color: #fff;
  font-family: "Georgia", Times, serif;
  font-size: 40px;
  letter-spacing: .1em;
  margin: 4px 0px 0px 40px;
}

#navLogoX {
  height: 38px;
  width: auto;
  margin-bottom: 10px;
}

/* #loginLogo {
  width: 50%;
  height: auto;
  display: block;
  margin: auto;
} */

.form-signin {
    font-family: Georgia, "Times New Roman", serif;
    font-weight: normal;
    letter-spacing: .1em;
    background-color: white;
    max-width: 400px;
    padding: 10px 30px 30px 30px;
    margin: auto;
}

.form-signin-heading {
  color: #333;
}

.required-text-label {
  font-size: 12px;
  font-style: italic;
}

#loginEmail, #loginPassword, .registerInput {
  margin-top: 10px;
  margin-bottom: 10px;
}

#loginSubmitBtn, #registerSubmitBtn {
  width: 100px;
  border-radius: 0px;
  background-color: #38bad8;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

#registerLink, #loginLink {
  padding: 10px;
}

#loginErrorMessage {
  color: #ff0000;
  font-size: 16px;
  text-align: center;
  margin: 10px 0px 20px 0px;
}

.splash {
  background-color: #f1f1f1;
  /* background-image: url("/assets/images/class.png");
  background-size: cover; */
}

body {
  font-family: sans-serif;  
  padding-top: 54px;
}

.jumbotron {
  padding: 32px;
  margin-top: 15px;
}

tr, th {
    text-align: center;
}

th, a {
  color: #000;
  font-size: 16px;
}

.student-row {
    background: pink;
}

.test {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(86,61,124,.15);
    outline: 1px solid black;
}

* { box-sizing: border-box; }

.grid {
  background: #FDD;
  background: hsla(45, 100%, 40%, 0.2);
  max-width: 520px;
}

/* clearfix */
.grid:after {
  content: ' ';
  display: block;
  clear: both;
}

.item {
  width: 40px;
  height: 40px;
  float: left;
  background: #C09;
  border: 4px solid #333;
  border-color: hsla(0, 0%, 0%, 0.3);
}

.item:hover {
  border-color: white;
  cursor: move;
}

.item.w2 { width:   80px; background: #9C0; }
.item.h2 { height:  80px; background: #0C9; }
.item.h4 { height: 160px; background: #C90; }
.item.w4 { width:  160px; background: #90C; }

.item.is-dragging,
.item.is-positioning-post-drag {
  border-color: white;
  background: #09F;
  z-index: 2;
}

a, #loginLink, #registerLink {
  cursor: pointer;
}

button {
  font-size: 20px;
  cursor: pointer;
}

.btn {
  font-size: 14px;
}

.btn-secondary {
  margin: 1px;
}

#editClassBtn, #resetBtn {
  background: none;
  font-size: 12px;
}

.icon {
 max-height: 90%;
 max-width: 90%;
}

#iconImageBtn {
  height: 70px;
  width: 70px;
  border: none;
  background: none;
}

.centerBlock {
  display: table;
  margin: auto;
}

/* #nav-home, #nav-profile {
  max-width: 500px;
} */

#nav-home, #nav-tabContent, #myTab, .nav {
  max-width: 500px;
}

#nav-home, #nav-home-tab {
  background-color:white;
}

#nav-profile-tab, #nav-profile {
  background-color: #f0f0f0;
}

#editColumn {
  width: 100px;
}
